In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/raw/apartments_for_rent_classified_100K.csv', delimiter=';',encoding="ISO-8859-1")
data.head()

/tmp/ipykernel_27257/2084946290.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data/raw/apartments_for_rent_classified_100K.csv', delimiter=';',encoding="ISO-8859-1")

,id,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,...,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
0,5668640009,housing/rent/apartment,One BR 507 & 509 Esplanade,"This unit is located at 507 & 509 Esplanade, R...",NaN,1.0,1.0,USD,No,Thumbnail,...,"$2,195",Monthly,542,507 509 Esplanade,Redondo Beach,CA,33.8520,-118.3759,RentLingo,1577360355
1,5668639818,housing/rent/apartment,Three BR 146 Lochview Drive,"This unit is located at 146 Lochview Drive, Ne...",NaN,1.5,3.0,USD,No,Thumbnail,...,"$1,250",Monthly,1500,146 Lochview Dr,Newport News,VA,37.0867,-76.4941,RentLingo,1577360340
2,5668639686,housing/rent/apartment,Three BR 3101 Morningside Drive,This unit is located at 3101 Morningside Drive...,NaN,2.0,3.0,USD,No,Thumbnail,...,"$1,395",Monthly,1650,3101 Morningside Dr,Raleigh,NC,35.8230,-78.6438,RentLingo,1577360332
3,5668639659,housing/rent/apartment,Two BR 209 Aegean Way,"This unit is located at 209 Aegean Way, Vacavi...",NaN,1.0,2.0,USD,No,Thumbnail,...,"$1,600",Monthly,820,209 Aegean Way,Vacaville,CA,38.3622,-121.9712,RentLingo,1577360330
4,5668639374,housing/rent/apartment,One BR 4805 Marquette NE,"This unit is located at 4805 Marquette NE, Alb...",NaN,1.0,1.0,USD,No,Thumbnail,...,$975,Monthly,624,4805 Marquette NE,Albuquerque,NM,35.1038,-106.6110,RentLingo,1577360308

In [3]:
data = data.sort_values(by=['time'])
data.head()

,id,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,...,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
87495,5121046168,housing/rent/apartment,Outstanding Opportunity To Live At The Atlanta...,"Square footage: 800 sq. feet, unit number: 211...","Cable or Satellite,Elevator,Gym,Internet Acces...",1.0,1.0,USD,No,Thumbnail,...,"$1,191",Monthly,800,NaN,Atlanta,GA,33.9407,-84.3184,RentDigs.com,1544174418
92649,5121046289,housing/rent/apartment,"Amazing Four BR, Two BA for rent",If you re looking to rent a new home in the Sw...,NaN,2.0,4.0,USD,No,Yes,...,"$1,450",Monthly,1880,NaN,Orange Park,FL,30.1728,-81.7558,RentDigs.com,1544174432
90945,5121046398,housing/rent/apartment,Orange Park Luxurious 3 + 2,If you re looking to rent a new home in the Sp...,NaN,2.0,3.0,USD,No,Yes,...,"$1,395",Monthly,1661,NaN,Orange Park,FL,30.1728,-81.7558,RentDigs.com,1544174444
92648,5121046506,housing/rent/apartment,Orange Park Luxurious 3 + 2,With premier location and beautifully designed...,"Gym,Tennis",2.0,3.0,USD,No,Yes,...,"$1,255",Monthly,1400,NaN,Orange Park,FL,30.1728,-81.7558,RentDigs.com,1544174455
98912,5121046540,housing/rent/apartment,"Two BR, Two BA, safe neighborhood","Square footage: 1346 square feet, unit number:...","Cable or Satellite,Elevator,Gym,Internet Acces...",2.0,2.0,USD,No,Yes,...,"$1,693",Monthly,1346,NaN,Atlanta,GA,33.9407,-84.3184,RentDigs.com,1544174458

In [4]:
def split_data(data):
    df_1 = data[:int(len(data)/5)]
    df_2 = data[int(len(data)/5):int(len(data)/5)*2]
    df_3 = data[int(len(data)/5)*2:int(len(data)/5)*3]
    df_4 = data[int(len(data)/5)*3:int(len(data)/5)*4]
    df_5 = data[int(len(data)/5)*4:]

    return df_1, df_2, df_3, df_4, df_5

In [5]:
df_1, df_2, df_3, df_4, df_5 = split_data(data)

In [9]:
df_1.shape[0] + df_2.shape[0] + df_3.shape[0] + df_4.shape[0] + df_5.shape[0] == data.shape[0]

True

In [ ]:
list_df = [df_1, df_2, df_3, df_4, df_5]
for i, df in enumerate(list_df):
    df.to_csv('data/raw/split_data/df_'+str(i+1)+'.csv', index=False)